USE [master]
GO
/****** Object:  Database [MonitoreoHardware]    Script Date: 23/4/2025 15:34:55 ******/
CREATE DATABASE [MonitoreoHardware]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MonitoreoHardware', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MonitoreoHardware.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'MonitoreoHardware_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MonitoreoHardware_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MonitoreoHardware].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MonitoreoHardware]
GO
/****** Object:  Table [dbo].[PrecioComponentes]    Script Date: 23/4/2025 15:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrecioComponentes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Producto] [varchar](255) NULL,
	[Precio] [decimal](10, 2) NULL,
	[FechaHora] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
